/home/aurora/.config/scripts/xrandr.sh
# /home/aurora/.config/scripts/launch.sh
feh --bg-fill ~/Pictures/wallhaven-qz8pqd.png
picom &
fcitx5 &
dunst &
# pgrep -x picom >/dev/null || picom --experimental-backends >>/var/log/picom.log 2>&1 &
